bazel-*
.bazelrc.user
# Robot
log.html
report.html
robot_output.xml
# VCS generated things
novas.fsdb
ucli.key
internal
*vcst*
novas*
*csrc*
# Build artifacts for UVM
tests/uvm/rtl
tests/uvm/sim_work
tests/uvm/vc_hdrs.h
# python
__pycache__
# downloaded bitstreams
fpga/bitstreams
# toolchain builds
toolchain/build_scripts/rv*_out
toolchain/build_scripts/riscv-gnu-toolchain
toolchain/build_scripts/llvm-project
toolchain/build_scripts/libgloss-htif
toolchain/build_scripts/*.tar.*
# UVM outputs
uvm_regression_*/
uvm_regression_*.zip
