# Per-project `repo upload` hook settings.
# https://android.googlesource.com/platform/tools/repohooks

[Options]
ignore_merged_commits = true

[Hook Scripts]
linters = utils/run_linters.sh
check_macro_signatures = utils/check_macro_signatures.py
